b{font-weight: 900;}
/* URLの下線を消すCSS→リセットCSSへ移動予定 */
a {text-decoration: none;}
#wrapper{
    line-height: normal;
}
/* headerやfooter、naviなどの共用部 */
header{
    background-image:url(../images/wood-back-ground.jpg);
    color: white;
}
header p{
    padding: 16px ;
    text-align: right;
}
.header_logo{
    height: 200px;
    object-fit: fill;
}
.header_cope{
    margin-top: 170px;
}
/* ナビゲーションバーの赤い背景 */
#navi{
    margin-top: 5px;
    background-image: url(../images/red_backgound.png);
}
#navi_mobile{
    display: flex;
    justify-content: space-between;
}
.navi_logo{
    width: 20%;
    margin: 1% auto;
}
.navi_logo img{
    width: 100%;
}
.navi_cope{
    width: 50%;
    margin: auto;
}
.navi_cope img{
    width: 100%;
}
/* ハンバーガーメニューボタン */
.navi_menu{
    background-image: url(../images/hamburger.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
    width: 10%;
    margin: 5%;
}
/* バーガーメニューが閉じるメニューへ変わる */
.close.navi_menu{
    background-image: url(../images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:140%;
    width: 10%;
    margin: 5%;
}
/* いつもはmenuの表示をなくし */
.menu{display: none;}
/* クリックされた時だけ表示に切り替える */
.menu.hamburger{display:block;}

/* バーガーメニューを押した後の中身 */
.hamburger{
    background-image: url(../images/shop_background.png);
    width: 90%;
    height: auto;
    padding: 5%;
    text-align: center;
}
.menu_size{
    padding: 5% ;
    border-bottom: 1px solid #808080;
    color: #000000;
}
/* PC版naviの背景と画像の遷移による色変更のCSS */
.navi_pc_button{
    background-image: url(../images/navi_nandakore.png);
    background-position: 0px 190px;
    display: flex;
}
.navi_pc_button li{
    width: 200px;
    height: 95px;
}
.navi_pc_button_1:hover{
    background-image: url(../images/navi_nandakore.png);
    background-position: 0px 95px;
}
.navi_pc_button_2:hover{
    background-image: url(../images/navi_nandakore.png);
    background-position: 801px 95px;
}
.navi_pc_button_3:hover{
    background-image: url(../images/navi_nandakore.png);
    background-position: 601px 95px;
}
.navi_pc_button_4:hover{
    background-image: url(../images/navi_nandakore.png);
    background-position: 401px 95px;
}
.navi_pc_button_5:hover{
    background-image: url(../images/navi_nandakore.png);
    background-position: 201px 95px;
}





.news{
    padding: 60px 0 60px 0;
    display:flex ;
    justify-content: space-between;
    flex-wrap: wrap
}
.news li{
    width: 24.5%;
}
.news img{
    width: 100%;
}
footer{
    background-image: url(../images/red_backgound.png);
}
#footer_pagetop{
    float: right ;
}
#footer_text{
    padding: 28px;
    color: #FFFFFF;
}

/* 全ページで使う共有のCSS */

.container{
    width: 1000px;
    margin: 0 auto;
}
.flex{ 
    display: flex;
    justify-content: space-around;
}
.flex_stretch{
    display: flex;
    justify-content: stretch; 
}
.flex_between{
    display: flex;
    justify-content: space-between;
}
.flex_column{
    display: flex;
    flex-direction:column;
}
.space_top{
    margin-top: 20px;
}
.space_bottom{
    margin-bottom: 20px;
}
.space_right{
    margin-right: 20px;
}
.all_space{
    padding: 40px 0 40px 0;
}

.border_bottom_dot{
    border-bottom: dotted #000000 1px;
}
.border_bottom_solod{
    border-bottom: solid #000000 1px;
}
.font_size_large{
    font-size: 22px;;
}
.font_size_mini{
    font-size: 14px;;

}
.float_right{
    float: right ;
}
.float_left{
    float: left ;
}
.hover_img:hover{
    opacity: 0.5;
}
.hover_navi:hover{
    position: relative;
    top: 0px ;
    left: 0px ;
}
.center{
    text-align: center;
}
.brown{
    color: #611D1A
}
.white{
    color: #FFFFFF;
}
.text_color_gray{
    color:#808080;
}
.left{
    margin-left: 0 auto;
    padding-left: 70px;
}
.left2{
    margin-left: 2%;
}
/* 背景CSS一覧 */
/* 背景の木の画像挿入 */
.wood_background{
    background-image: url(../images/wood-back-ground.jpg);
    text-align: center;
    width: 100%;
}
/* ベージュの背景店舗書とかで使う */
.shops_bg{
    background-image: url(../images/shop_background.png);
}
/* 店舗名等の背景色、モサモサしている方 */
.yoichi_name_bg_img{ 
    background-image: url(../images/name_background_img/nasunoyoihi_name_background.png);
}
.chiritote_name_bg_img{
    background-image: url(../images/name_background_img/chiritote_name_background.png);
}
.kinchan_name_bg_img{
    background-image: url(../images/name_background_img/kinchan_name_background.png);
}
.aburiya_name_bg_img{
    background-image: url(../images/name_background_img/aburiya_name_background.png);
}
.toriya_name_bg_img{
    background-image: url(../images/name_background_img/toriya_name_background.png);
}
.sakanaya_name_bg_img{
    background-image: url(../images/name_background_img/sakanaya_name_background.png);
}
.yamiichi_name_bg_img{
    background-image: url(../images/name_background_img/yamiichi_name_background.png);
}
/* PCの画面で、スマホ画面のnaviを非表示にする */
@media(min-width:641px) {
    #navi_mobile{display: none;}
}

/* 全ページ共通のスマホ版CSS */
@media (max-width:640px) {
    .container{width: 100%;}
    header img{display: none;}
    #navi_pc{display: none;}
    .news li{width: 49%;}
    #footer_pagetop{display: none!important;}
}




/* TOPページ、スライドの部分に使ってるCSS */
/* 店舗画像 */
.chiritote{
    background-image: url(../images/index_top_slider_img/chiritotechin_background_top_img.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.aburiya{
    background-image: url(../images/index_top_slider_img/aburiya_background.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.kinchan{
    background-image: url(../images/index_top_slider_img/kinchan_background.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.toriya{
    background-image: url(../images/index_top_slider_img/toriya_top_background.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.sakanaya{
    background-image: url(../images/index_top_slider_img/sakanaya_background.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.yamiichi_nishimai{
    background-image: url(../images/index_top_slider_img/yamiichi_nishimai_background.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.isenoyoichi{
    background-image: url(../images/index_top_slider_img/isenoyoichi_background.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.jounetu_toyooka{
    background-image: url(../images/index_top_slider_img/jounetu_toyoka_background.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.nasunoyoichi{
    background-image: url(../images/index_top_slider_img/nasunoyoichi_background.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.slider_img_size{
    height: 600px;
    position: relative;
}
.box{
    background-image: url(../images/index_top_slider_img/black_usuiyatu.png);
    position: absolute;
    text-align: center;
    background-size: cover;
    width: 800px;
    bottom: 0 ;
    padding: 20px;
}
.box_in_text{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
}
.slider-nav .slick-track{
    transform: unset !important;
}
@media (max-width:800px) {.slider_img_size{height: 600px;}}
@media (max-width:600px) {.slider_img_size{height: 450px;}}
@media (max-width:500px) {.slider_img_size{height: 375px;}}
@media (max-width:400px) {.slider_img_size{height: 300px;}}




/* TOPページに使っているCSS */
#oishii_text01{
    width: 90%;
    margin: 40px auto;
    text-align: center;
    border-bottom: solid 1px black;
}
.oishii_text02{
    margin-top: 10px;
    line-height: 2;
}
#oishii_text03{
    text-align: right;
}
#oishii_text04{
    text-align: left;
}
.news_index{
    color: #FFFFFF;
}
.news_index h1{
    padding-top: 40px;
    border-bottom: solid 1px #FFFFFF;
}
#news_scroll{
    width: 80%;
    height: 120px;
    margin: 0 auto;
    overflow-y: scroll; 
    padding-top: 20px;
    line-height:2.5;
    font-size: 16px;
    text-align: left;
}
/* TOPページ店舗紹介欄に使っているCSS */
.side_border{
    border-left: dotted #CBCBCB 1px;
    border-right: dotted #CBCBCB 1px;;
}
.TOP_shop_img_flex{
    display: flex;
    flex-wrap: wrap;
}
.TOP_shop_img_size{
    width: 20%;
}

/* 店舗紹介、一覧で使ったCSS */
/* 他ページのTOP画像でも使いまわす。 */

.shop_sub_header{
    text-align: center;
    width: 100%;
}
.shop_info{
    width: 98%;
    margin: 0 auto;
}
.shop_info h2{
    border-bottom: 1px black solid;
    font-size: 22px;
}
.shops_index_flex{
    display: flex;
    flex-wrap: wrap;
}
/* 店舗毎の背景、ベージュの部分 */
.shop_info_contents_background{
    background-image: url(../images/shop_background.png);
    width: 23%;
    height: 430px;
    margin: 1% ;
    position: relative;
}
/* 店舗画像のサイズ、あとで名前変更 */
.shop_info_contents{
    width: 90%;
    margin: 0 auto;
    padding-top: 2%;
}
.shop_info_contents p{
    background-color: #FFFFFF;
    height: 160px;
    text-align: center;
    overflow:hidden
}
/* 店舗名の部分のサイズ、中の文字の設定、共用で使い回す */
.shop_info_contents_head{
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}
/* 店舗一覧のページから各店舗紹介へ飛ばすボタンのサイズ、場所指定 */
.shop_info_button{
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
    position: absolute;
    bottom:1%;
    left: 5%;
}
.TOP_blog_flex1{
    display: flex;
    justify-content: space-between;
}
.TOP_blog_flex2{
    display: flex;
    flex-direction:column;
}
.TOP_blog_text{color: #fff;}
.TOP_blog_page_img img{width: 100%;}
.TOP_blog_page_img a{width: 100%;}

@media (max-width:640px) {
    .shop_info{display: none;}
    .enkai_pc{display: none;}
    .TOP_blog_text{display: none;}
    .TOP_blog_flex1{
        display: flex;
        flex-direction:column;
    }
    .TOP_blog_flex2{
        display: flex;
        flex-direction:row;
        gap: 10%;
    }
    .TOP_blog_flex2 li{width: 40%;}
    #oishii_text01 img{width: 100%;}
    .oishii_text02{
        margin: 0 auto;
        width: 90%;
    }
    .oishii_text02 img{
        width: 100%;
    }
    #oishii_text04 img{width: 100%;}
    #news_scroll{width: 100%;}
    #oishii_text02{
        width: 90%;
        margin: 0 auto;
    }
}
@media(min-width:641px) {
    .enkai_mobile{display: none;}
}


/* 店舗毎のボタンの色店舗カラー */
.button01{
    background: #136166;
}
.button02{
    background: #bb5a20;
}
.button03{
    background: #ab1313;
}
.button04{
    background: #000000;
}
.button05{
    background: #ffbc3d;
}
.button06{
    background: #2789a1;
}
.button07{
    background: #7d2257;
}


/* ↓店舗毎の紹介ページに使ったCSS↓ */

/* 店舗目が大きく表示される部分のCSS */
.shops_info_head_big{
    text-align: center;
    padding: 30px;
    color: #FFFFFF;
    font-size: 25px;
}
/* サムネイル付きスライドの部分、スライド時にサムネイルが動かなくするやつ */
.slider-nav .slick-track{
    transform: unset !important;
}
/* 店舗紹介画像小さな方 */
.shop_img_size{
    width: 100%;
    height: auto;
}
/* 文章部分のヘッド */
.shop_introduction_text{
    width: 95%;
    margin: 0 auto;
    padding-top: 40px;
}
.shop_introduction_text_contents{
    width: 90%;
    margin: 5px auto;
    line-height: 2.5;
    font-size: 14px;
}
.shop_introduction_text_contents p{
    width: 90%;
    margin: 0 auto;
}
.shop_introduction_text_contents dl{
    display: flex;
    width: 60%;
}
.shop_introduction_text_contents dt{
    color: #831b1b;
    flex: 0 0 30%;
}
.shop_introduction_map{
    float: right ;
    padding: 50px 150px 150px 0;
}

#enkai{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 130px;
}
#enkai img{
    width:100%
}
/* ↑店舗毎の紹介ページに使ったCSS↑ */
/* スマホVer　各店舗紹介のページ */
@media (max-width:640px) {
    .shops_info_head_big{
        text-align: center;
        padding: 20px;
        color: #FFFFFF;
        font-size: 20px;
    }
    .shop_introduction_text_contents{
        font-size: 12px;
        margin: 0 auto;
        padding-bottom:30px ;
    }
    .shop_introduction_text_contents dl{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .shop_introduction_text_contents dt{
        color: #831b1b;
        flex: 0 0 100%;
    }
    .shop_introduction_text_contents dd{
        flex: 0 0 100%;
    }
    .shop_introduction_map{
        float: none ;
        padding: 30px 0 30px 0;
        text-align: center;
    }
    /* 店舗一覧、shop/index.htmlのスマホ版 */
    .shop_info_contents_background{
        background-image: url(../images/shop_background.png);
        width: 90%;
        margin: 3% auto;
        height: 430px;
        position: relative;
    }
    
    
    
}



/* お問い合わせページに使ったCSS */
.inquiry_head{
    margin-top: 50px;
    text-align: center;
    border-bottom: solid 1px black;
}
.inquiry_text{
    width: 80%;
    margin: 0 auto;
}
.inquiry_flex li{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}
.text_box{
    width: 300px;
    margin-right: 150px;
}
.text_box_big{
    width: 400px;
    height: 200px;
    margin-right: 100px;
}
.text_box_submit{
    text-align: center;
}
#otoiawase_02{
    font-size: 15px;
    margin-bottom: 50px;
}

/* プレゼントページで使ったCSS */
.presentpage{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding-block: 80px;
}
.presentpage li{
width: 50%;
}
.presentpage img{width: 100%;}

@media (max-width:640px) {
    .presentpage li{
        width: 100%;
    }
    .inquiry_text{
        width: 90%;
        font-size: 15px;
    }
    .inquiry_flex li{
        display: block;
        margin: 10px auto;
    }
    .text_box_big{
        width: 100%;
        height: 150px;
        margin-right: 0;
    }
    .text_box{
        width: 100%;
        margin-right: 0;
    }
}

/* ポイントカードページで使ったCSS */
.pointcard img{width: 100%;}
.pointcard{
    margin-block: 100px;
    display: flex;
    flex-wrap: wrap;
}
.pointcard_img{
    margin: 0 auto;
    width: 20%;
}
.pointcard02{
    margin-inline: 50px;
    font-size: 14px;
    width: 70%;
}
.pointcard02_img{width: 80%;}
.pointcard02 img{width: 100%;}
@media (max-width:640px) {
    .pointcard{
        margin: 5% auto;
        display: flex;
        flex-wrap: wrap;
    }
    .pointcard_img{
        margin: 5% auto;
        width: 50%;
    }
    .pointcard02{
        font-size: 14px;
        width: 100%;
    }
    .pointcard02_img{
        width: 100%;
    }
}


/* 今月のイベントに使ったCSS */
.event{
    margin: 40px 0;
    border: solid 1px #b5b5b5;
}
.event dl{
   display: flex;
   /* justify-content:start; */

}
.event dt{
   width: 30%;
   flex-grow: 0;
}
.event dd{
    width: 100%;
    flex-grow: 1;
    text-align: left;
}
.event_head_size{
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
}
.event_main_contents{
    margin: 15px 30px;
    padding: 10px;
    border-bottom: dotted 1px #b5b5b5;
}
.event_nasunoyoichi_side_line{border-left: solid 5px #136166;/*左線*/}
.event_chiritotechin_side_line{border-left: solid 5px #bb5a20;/*左線*/}
.event_kinchan_side_line{border-left: solid 5px #ab1313;/*左線*/}
.event_aburiya_side_line{border-left: solid 5px #000000;/*左線*/}
.event_toriya_side_line{border-left: solid 5px #ffbc3d;/*左線*/}
.event_sakanaya_side_line{border-left: solid 5px #2789a1;/*左線*/}
.event_yamiichi_side_line{border-left: solid 5px #7d2257;/*左線*/}

@media (max-width:640px) {
    .TOP_shop_img_size{
        width: 50%;
    }
    .event dl{display: block;}
    .event dt{width: 100%;}
    .event dd{font-size: 14px;}

}

/* 宴会コースページに使ったCSS */
.blown_box{
    text-align:center;
    font-size: 15px;
    padding: 10px 10px;
    margin: 2px 0;
    color: #ffffff;
    background: #7e0701;/*背景色*/
    border-radius: 5px;/*角の丸み*/
}
#nasunoyoichi_shop_text_enkai01{
    background-image: url(../images/name_background_img/nasunoyoihi_name_background.png);
    text-align: center;
    padding: 12px;
    color: #FFFFFF;
    font-size: 22px;
}
.nasunoyoichi_shop_text_enkai02{
    background-color: #ffffff;
    text-align: left;
    margin: 10px;
    padding: 10px;
    color: #000000;
    font-size: 18px;
    border-left: solid 7px #136166;/*左線*/
    border-bottom: dotted #CBCBCB 1px;
}
.course_main{
    display: flex;
    justify-content: stretch; 
    margin: 20px ;
}
.course_head{
    width: 100%;
    margin: 0 0 15px 20px;
    border-bottom: solid 1px #000000;
}
.course_text{
    line-height:1.7;
    margin: 5px 0 30px 60px;
    font-size: 15px
}
.course_img{
    width: 400px;
    height: auto;
}
.course_text_strong{
    font-size: 20px;
    color: #7e0701;
}
.course_text_box{
    padding:  5px;
    border: solid 1px #7e0701 ;
}
.course_text_box_attention{
    width: 70%;
    margin: 30px auto;
    padding:  15px;
    border: solid 3px #920902 ;
}
.text_left{
    text-align:left;
    margin: 0 auto;
}
.top_text{
    text-align: right;
    color: #1f1f22;
}
#chiritotechinn_shop_text_enkai01{
    background-image: url(../images/name_background_img/chiritote_name_background.png);
    text-align: center;
    padding: 12px;
    color: #FFFFFF;
    font-size: 22px;
}
.chiritotechinn_shop_text_enkai02{
    background-color: #ffffff;
    text-align: left;
    margin: 10px;
    padding: 10px;
    color: #000000;
    font-size: 18px;
    border-left: solid 7px #bb5a20;/*左線*/
    border-bottom: dotted #CBCBCB 1px;
}
@media (max-width:640px) {
    .course_main{
        display: block;
    }
    .course_text_box_attention{
        width: 80%;
    }
}


/* 会社案内、沿革ページに使ったCSS */
#company_ishizue{
    background-image: url(../images/company_recruit_img/company_flower.png);
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
}
#company_ishizue_ttl{
    padding: 80px  0 50px 0;
}
.company_ishizue_text{
    width: 500px;
    margin: 0 auto;
    text-align: left;  
    line-height: 2 ; 
    font-size: 14px;
}
.company_ishizue_img1{
    position: absolute;
    top: 550px;
    left: 220px;
}
.company_ishizue_img2{
    position: absolute;
    top: 700px;
    left: 1000px;
}
.company_ishizue_img3{
    position: absolute;
    top: 880px;
    left: 290px;
}
.company_ishizue_img4{
    position: absolute;
    top: 1100px;
    left: 250px;
}
.company_ishizue_img5{
    position: absolute;
    top: 1000px;
    left: 1000px;
}
.company_info{
    padding-bottom: 100px;
    text-align: center
}
.company_info_head{
    padding: 40px 0 0 5px ;
    margin-bottom: 30px;
    border-bottom:solid #000000 1px ;
}
.company_info_text{
    background-image: url(../images/company_recruit_img/company_info_background.png);
    background-repeat: no-repeat;
    background-position: right top;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    line-height: 2 ; 
    margin-bottom: 15px;
}
.company_info_text dl{
    display: flex;
    margin: 1%;
}
.company_info_text dd{ 
    width: 80%;
}
.company_info_text dt{
    width: 20%;
    color: #831b1b;
    font-weight:bold;
    
}
.company_history{
    padding-bottom: 100px;
    text-align: center
}
.company_history_bg{
    background-image: url(../images/company_recruit_img/company_history_background.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position:left bottom ;
    padding-bottom: 5%;
    width: 90%;
    margin: 0 auto;
}
.company_history_table{
    border-spacing: 0;
    
    
}
.company_history_table th{
    width: 20%;
    background-color: #eee0de;
    color: #831b1b;
    padding: 20px;
    font-weight:bold;
}
.company_history_table td{
    text-align: left;
    padding: 10px 20px;
    border-top: dotted #000000 1px;
}

@media (max-width:640px) {
    .company_ishizue_img1{display: none;}
    .company_ishizue_img2{display: none;}
    .company_ishizue_img3{display: none;}
    .company_ishizue_img4{display: none;}
    .company_ishizue_img5{display: none;}
    .company_ishizue_text{width:80%;}
    .company_info_text{width: 90%;}
    .company_info_text dl{
        display: block;
        margin: 2%;
        font-size: 13px;
    }
    .company_info_text dt{width: 100%;}
    .company_info_text dd{width: 100%;}
    .company_history_bg{
        background-size: 35.5%;
        padding-bottom: 10%;
    }
    .company_history_table{font-size: 13px;}

}
/* スタッフ募集ページに使ったCSS */
.staff_wanted_head{
    text-align: center;
    padding: 40px 0 0 5px ;
    margin-bottom: 15px;
    border-bottom:solid #000000 1px ;
}
.staff_wanted_table{
    margin-top: 20px;
    line-height: 1.7;
    border-spacing: 0;
    border: solid #CBCBCB 1px;
}
.staff_wanted_table{width: 100%;}
.staff_wanted_table th{
    background-color: #CBCBCB;
    width: 20%;
    padding: 2%;
    text-align:left;
    border-bottom: solid #FFFFFF 1px;
    font-weight:bold;
}
.staff_wanted_table td{
    width: 80%;
    padding: 2%;
    font-size: 14px;
    text-align: left;
    border-bottom: solid #CBCBCB 1px;
}
.staff_blown_box{
    padding: 15px 25px;
    color: #ffffff;
    background: #7e0701;/*背景色*/
}
.otoiawase_beige_box{
    background-color: #f9ecd4;
    width: 90%;
    margin: 3% auto;
    padding: 30px;
}
.otoiawase_box_head img{width: 50%;}
.otoiawase_box_head{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    border-bottom:solid #000000 1px ;
}
.otoiawase_box_contents img{width: 100%;}
.otoiawase_box_contents{
    display: flex;
    justify-content:space-between;
}
.otoiawase_box_contents_img{
    width: 40%;
    text-align: center;
}
.otoiawase_blown_box{
    background-color: #7e0701;/*背景色*/
    /* width: 50%; */
    padding: 30px;
    text-align: center;
    /* display: flex; */
}
.otoiawase_blown_box img{
    width: 20%;
}
.otoiawase_blown_box p{
    color: #fff;
    font-size: 18px;
}
@media (max-width:640px) {
    .staff_wanted{
        width: 95%;
        margin: 0 auto;
    }
    .staff_wanted_table{
        width: 95%;
        margin: 3% auto;
        margin-top: 20px auto;
        line-height: 1.7;
    }
    .staff_wanted_table th{
        display: block;
        width: 96%;
        border-bottom: none;
    }
    .staff_wanted_table td{
        display: block;
        width: 95%;
        border-bottom: none;
    }
    .otoiawase_beige_box{
        width: 90%;
    }
    .otoiawase_beige_box img{width: 100%;}

    
}


/* おすすめ料理に使ったCSS */
.osusume_img_size{
    margin: 10px 0;
    height: auto;
    overflow: hidden;
    display: flex;
}
.osusume_img_size p{
    width: 50%;
}
.osusume_img_size img{width: 100%;}
.osusume_img_size_small{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.osusume_img_size_small li{
    width: 49.5%;
    margin: 0.2%;
}
.osusume_img_size_small img{width: 100%;}
.osusume_text{
    line-height: 2;
    margin: 20px;
}
.osusume_yoichi_button{
    background-color: #136166;
    padding: 20px;
    color:#ffffff;
}

/* クリックした際に表示される機能のCSS */
.modal__open:hover {
    cursor: pointer;
  }
  .modal {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  .modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: fixed;
    left: 0;
    width: 100%;
  }
  .modal__content {
    font-size: 14px;
    background: rgba(0, 0, 0, 0);
    padding: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50%;
  }
  .modal__content img{
    width: 70%;
    height: auto;
    border: #ffffff 7px solid;
    border-radius:10px;
  }
  .modal .close__text {
    width: 27px;
    height: 27px;
    background: url(../images/osusume_inquiry_img/l-close.png);
    position: absolute;
    top: 5%;
    right: 0%;
  }

@media (max-width:640px) {
    .osusume_img_size{
        display: block;
    }
    .osusume_img_size p{
        width: 100%;
    }
    .osusume_img_size_small{
        width: 100%;
    }
    .modal__content {
        width: 90%;
      }
      .modal__content img{
        width: 100%;
      }
}