* {
margin: 0;
padding:0;
font-size: 100%;
}
ul{
    list-style-type: none;
}
h3{
    font-size: 45px;
}





#header{
    background-image:url(images/wood-back-ground.jpg);
    color: white;
}
#header_text01{
    padding-top: 16px ;
    text-align: right;
}
#header_logo > img {
    height: 200px;
    object-fit: fill;
}
#header_cope{
    margin-top: 170px;
}
#navi{
    background-image: url(images/red_backgound.png);
    margin-top: 10px;
}
#navi_img > img {
    object-fit: none;
    object-position: 0px 95px;
    margin-top: -90px;
}

#shop_top_information{
    overflow:hidden
}
#chiritote{
    background-image: url(images/chiritotechin_background_top_img.png) ;
    height: 600px ;
    width: 1420px ;
}
#aburiya{
    background-image: url(images/aburiya_background.png) ;
    height: 600px ;
    width: 1420px ;
}
#toriya{
    background-image: url(images/toriya_top_background.png);
    height: 600px ;
    width: 1420px ;
}
#contents{
    background-image:url(images/wood-back-ground.jpg);
    padding: 65px;
}

#oishii_text01{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: solid 1px black;
}
#oishii_text02{
    margin-top: 10px;
}
#oishii_text03{
    text-align: right;
}
#oishii_text04{
    text-align: left;
}
#news{
    background-image:url(images/wood-back-ground.jpg);
}
#news_logo{
    padding-top: 40px;
    border-bottom: solid 1px black;
}
#news_scroll{
    width: 800px;
    height: 120px;
    overflow-y: scroll; 
    /* margin: 0 auto; */
    padding-top: 20px;
    line-height:40px;
    font-size: 16px;
    text-align: left ;
}
.news02 img{
    width: 100%;
}
#feeder{
    background-image: url(images/red_backgound.png);
}
#feeder_pagetop{
    float: right ;
}
#feeder_text{
    padding-top: 28px;
    padding-bottom: 28px;
    color: #FFFFFF;
}



#sub_header{
    background-image: url(images/wood-back-ground.jpg);
    text-align: center;
    height: 300px ;
}
#store_nasunoyoichi{
    color: #FFFFFF;
    text-align: center;
    background-image: url(images/nasunoyoihi_name_background.png);
    width: 100%;
}
#store_chiritote{
    color: #FFFFFF;
    text-align: center;
    background-image: url(images/chiritote_name_background.png);
    width: 100%;
}









.contner{
    width: 1000px;
    margin: 0 auto;
}
.flex{ 
    display: flex;
    justify-content: space-around;
}
.flex_stretch{
    display: flex;
    justify-content: stretch; 
}

.box{
    background-image: url(images/black_usuiyatu.png);
    width: 809px ;
    margin-top: 480px;
    padding-bottom: 25px;
}
.box_in_text{
    padding-top: 15px;
    color: #FFFFFF;
}
.store_intoro{
    border-bottom: 1px black solid;
    font-size: 20px;
}
.store02{
    background-image: url(images/shop_background.png);
    width: 25%;
    height: 430px;
}




.brown{
    color: #611D1A
}
.white{
    color: #FFFFFF;
}
.left{
    margin-left: 0 auto;
    padding-left: 70px;
}
.left2{
    margin-left: 2%;
}
.center{
    text-align: center;
}
.space_top{
    margin-top: 20px;
}
.space_bottom{
    margin-bottom: 20px;
}
.side_border{
    border-left: dotted #CBCBCB 1px;
    border-right: dotted #CBCBCB 1px;;
}
.float_right{
    float: right ;
}
.float_left{
    float: left ;
}

